<!DOCTYPE html>
<html lang="en">
    <head>
    </head>

    <body>
    <h3>SocioPower</h3>
        <form action="." method="POST">
            <p> <input type="radio" name="choose" value="fill" checked> Fill database
                <input type="radio" name="choose" value="lsg"> Analyze language, sentiment, gender
                <input type="radio" name="choose" value="json"> Create JSON
                <input type="radio" name="choose" value="dashboard"> Dashboard
                <input type="radio" name="choose" value="stats"> Statistics </p>
            <p> <input type="submit" name="query-form" value="Submit"> </p>
        </form>
    </body>
</html>